* {
    transition: all ease .2s;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 67px;
}

.header {
    background: #e5e5e5;
    color: rgb(95, 14, 14);
    width: 100vw;
    height: 67px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09); 
}

.header p{
    font-size: 34px;
    font-style: italic;
    font-weight: bold;
}

.selection {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection p{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.movie-box {
    width: 145px;
    height: 209px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 12px;
}

.movie-box img{
    width: 129px;
    height: auto;
}
.footer {
    display: flex;
    align-items: center;
    height: 116px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #e5e5e5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.10); 
    padding-left: 30px;
}
.footer .movie-box{
    height: 89px;
    width: 64px;
}
.footer img{
    width: 48px;
    height: auto;
}

.movie-selection-screen, .session-selection-screen, .seats-selection-screen {
    width: 100vw;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.session-selection-screen button{
    background: #e5e5e5;
    border-radius: 5px;
    border: 1px rgb(117, 117, 117) solid;
    margin-right: 20px;
    margin-top: 12px;
}
.seats-selection-screen .session-title{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
.session-title{
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.session{
    margin-bottom: 20px;
}
.user-info {
    width: 80vw;    
    height: 25px;
}
.seats{
    min-width: 327px;
    max-width: 330px;
    height: 203px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seat-id{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-bottom: 6px;
    background: #c3cfd9;
    color: #000;
    width: 26px;
    height: 26px;
    border: 1px #808f9d solid;
    border-radius: 13px;
    font-size: 11px;

}
